div {
  color: blue;
}
/* p {
  font-family: Verdana;
  font-size: 30px;
  color: aqua;
  text-align: center;
  background-color: brown;
  background-image: url(images/test.jpg);
} */

/* Coment */

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

table, th, td {
  width: 100%;
  border: 1px solid;
}

